body{
    background-color:red;
   
  }
  
  #title{
    font-size:80px;
  }

  .custom-text{
    text-align:center;
    font-family:Lobster;
   }
  h2{
    text-align:center;
   }
  .wrapper {
      text-align: center;
      
  }
  
  
  
  #quotes{
  
    margin-right:auto;
    background-color:black;
   margin-left:auto;
    margin-top:20px;
    padding:20px;
    height:auto;
    color:red;
    text-align:center;
  }
  #quotz{
    font-size:30px;
  }