body{
    background-color:red;
    font-family:Lobster;
  }
  
  h1{
    text-align:center;
   }
  h2{
    text-align:center;
   }
  .wrapper {
      text-align: center;
  }
  button{
    font-size:30px;
    border-radius:5px;
    color:red;
    background-color:black;
    border:1px solid black;
    padding:10px;
    font-family:Lobster;
    border: 2px dashed black;
    }
  
  
  button:hover {
      background: red;
      color: black;
  }
  button:focus {outline:0;}
  
  .quotes{
    width:33%;
    margin-right:auto;
    background-color:black;
   margin-left:auto;
    margin-top:20px;
    padding:20px;
    height:auto;
    color:red;
    text-align:center;
  }
  #quotz{
    font-size:40px;
  }